body {
  font-family: Sans-serif, Arial, Verdana;  
}

.container {
  padding: 3%;
}

.header-description {
  font-family: 'Raleway', sans-serif;
  text-align: right;
}

#display-name {
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
  opacity: 0.65;
}

#display-title {
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.75;
}

.header-logo {
  text-align: left;
}

.header-logo img {
  width: 75px;
}

hr {
  border: 0;
  height: 0; /* Firefox... */
  background: #7d97ad;
  padding: 2px 0 0 0;
}

.colors {
}

.square {
  margin: auto;
  width: 60px;
  height: 60px;
  background-color: black
}

.color-description {
  text-align: center;
  padding: 0 0 15px 0;
  font-size: 1.2em;
  font-weight: 400;
  opacity: 0.6;
}

#main-background {
  border: 1px 0 0 0;
  padding: 50px;
  background: url(../../img/play.png);
  background-size: contain, cover;
  background-position: center;
}

.featured-work {
  width: 100%;
  padding: 20px 0 0 0;
}

.featured-work h2 {
  font-size: 2em;
  font-weight: 325;
  opacity: 0.4;
}

.featured-site {
  font-size: 0.75em;
  text-align: center;
  padding: 2px;
}

.featured-site-title {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.7;
}

i {
  padding: 4px;
}
