header {
  border: 1px solid rgb(184, 193, 186);
  width: 300px;
  padding: 1em;
  box-shadow: 7px 7px 7px 0px rgb(184, 193, 186);
}

header .name {
  font-style: italic;
}

header .title {
  font-style: italic;
}

header .logo {
  width: 300px;
  padding: 1em 0 1em 0;
}

main .featured-work {
  border: 1px solid rgb(184, 193, 186);
  width: 300px;
  padding: 0 0 1em 0;
}

